<div class="alert alert-success p-4">
    <div class="w-50 float-left">
        <h2>Bienvenido</h2>
        <h2>{{nombre}}</h2>
    </div>
    <div class="float-right">
        <button class="btn btn-warning" onclick="location.href='/logout'">
            <b>Desloguear</b><br><img src="{{foto}}" width="75" alt="">
        </button>
    </div>
    <b><a href="#">{{email}}</a></b>
</div>
